version: "3.9"

services:
  api:
    build: .
    container_name: url_shortener
    ports:
      - "8080:8080"
    environment:
      PORT: "8080"
      BASEURL: "http://localhost:8080"

      DB_HOST: db
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_NAME: shortener

      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_PASS: ${REDIS_PASSWORD}
      REDIS_DB: 0
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: shortener
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  migrate:
    image: migrate/migrate
    container_name: db_migrate
    depends_on:
      - db
    volumes:
      - ./migrations:/migrations
    command: >
      -path=/migrations
      -database postgres://postgres:${POSTGRES_PASSWORD}@db:5432/shortener?sslmode=disable
      up

volumes:
  pgdata:
  redisdata:
